@import "tailwindcss";

/* Fix for Leaflet map z-index */
.leaflet-container {
  z-index: 0;
  width: 100%;
  height: 100%;
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Custom data for CSS */